<nav class="navbar navbar-default" role="navigation">
    <div class="col-md-12">
        <ul class="nav navbar-nav">
            <li><a href="/">Главная</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">Войти</a></li>
        </ul>
    </div>
</nav>