extends layout/page

block title
    title Chat

block content
    h1 Chat
    h3 User: #{user.get('username')}

    #room
        ul
        form
            input(class="form-control" autocomplete="off" autofocus placehoder="Message...")


block scripts    
    script(src="/socket.io/socket.io.js")
    script.
        var socket = io('', {
            reconnectionDelay: 500,
            reconnectionAttempts: 10,
            reconnectionDelayMax: 3000
        });

        var form = $('#room form');
        var ul = $('#room ul');
        var input = $('#room input')

        socket
            .on('message', function(username, message) {
                printMessage(username + '> ' + message)
            })
            .on('leave', function(username) {
                printStatus(username + ' left the chat');
            })
            .on('join', function(username) {
                printStatus(username + ' join in chat');
            })
            .on('connect', function() {
                printStatus('connection is established');
                form.on('submit', sendMessage);
                input.prop('disabled', false);
            })
            .on('disconnect', function() {
                printStatus('connection is lost');
                form.off('submit', sendMessage);
                input.prop('disabled', true);
                this.$emit('error');
            })
            .on('logout', function() {
                window.location.href = '/';
            })
            .on('error', function(reason) {
                if (reason == 'handshake unauthorized') {
                    printStatus('you are out of chat');
                } else {
                    setTimeout(function() {
                        socket.socket.connect();
                    }, 500);
                }
            })
            .on('reconnect_failed', function() {
                console.log('Server is dead');
            })

        

        function sendMessage() {
            var text = input.val();

            socket.emit('message', text, function() {
               printMessage('me> ' + text);
            });

            input.val('');
            return false;
        }

        function printStatus(status) {
            $('<li>').append($('<i>').text(status)).appendTo(ul);
        }

        function printMessage(text) {
            $('<li>').text(text).appendTo(ul);
        }